{% load static %}
<div class="team-text">Vestibulum</div>
<div class="team-icons">
    <img src="{% static 'img/facebook-logo.jpg' %}" alt="" class="soc">
    <img src="{% static 'img/twitter-logo-silhouette.jpg' %}" alt="" class="soc">
    <img src="{% static 'img/rss-feed-suscription-button-symbol-for-interface-1.jpg' %}" alt="" class="soc">
    <img src="{% static 'img/vk-social-network-logo.jpg' %}" alt="" class="soc">
</div>
<div class="team-icons-square">
    <img src="{% static 'img/square_18.svg' %}" alt="" class="square">
    <img src="{% static 'img/square_18.svg' %}" alt="" class="square">
    <img src="{% static 'img/square_18.svg' %}" alt="" class="square">
    <img src="{% static 'img/square_18.svg' %}" alt="" class="square">
</div>