{% load static %}



<div class="container container-testimonial">
    <div class="row">
        <div class="col">
            <h4 class="text-center">Testimonial</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img src="{% static 'img/upper-comma.png' %}" class="img-fluid" alt="Адаптивные изображения">
        </div>
    </div>
    <div class="row">
        <div class="col arrow"><p class="text-center">&lt;</p></div>
        <div class="col-10">
            <p class="text-center">Donec feugiat tellus sem, laoreet iaculis orci lobortis vel.
                Sed sed luctus orci, at lacinia risus. Ut porttitor ante ac tincidunt elementum.
                Curabitur ex dolor, condimentum vitae nunc vel, pulvinar semper justo.
                Vestibulum et aliquet magna, maximus dapibus enim. Vestibulum ex lectus, posuere eu
                viverra at, mattis et enim. Nam efficitur sem et lectus fringilla, at pharetra nulla luctus.
                Nunc cursus, augue ac ultricies volutpat, neque erat congue justo, ac pretium tellus eros a neque.
                Integer ipsum sem,
                consectetur a mollis ac, cursus eu ipsum.</p>
        </div>
        <div class="col arrow"><p class="text-center">&gt;</p></div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h5>JOHN SMITH - FOUNDER</h5>
        </div>
    </div>

</div>