{% load static %}
<script src="{% static 'js/services.js' %}"></script>


<div class="container container-services mt-5" id="{{ host }}">
    <div class="row">
        <div class="col text-center">
            <h3 class="text-center">Services</h3>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <h6 class="text-right" id="h6-0">Repreh Qui In Ea Voluptate</h6>
            <p class="text-right">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
        <div class="col">
        </div>
        <div class="col my-auto picture"><img src="{% static 'img/services_branch_grey.png' %}" class="img-fluid" id="img-0" alt="Адаптивные изображения"></div>
        <div class="col my-auto picture"><img src="{% static 'img/services_arrow_up_grey.png' %}" class="img-fluid" id="img-1" alt="Адаптивные изображения"></div>
        <div class="col"></div>
        <div class="col-3">
            <h6 class="text-left" id="h6-1">Voluptatibus Maiores Alias</h6>
            <p class="text-left">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <h6 class="text-right" id="h6-2">Aut Perferendis Doloribus</h6>
            <p class="text-right">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
        <div class="col">

        </div>
        <div class="col my-auto picture"><img src="{% static 'img/services_$_grey.png' %}" class="img-fluid" id="img-2" alt="Адаптивные изображения"></div>
        <div class="col my-auto picture"><img src="{% static 'img/services_home_grey.png' %}" class="img-fluid" id="img-3" alt="Адаптивные изображения"></div>
        <div class="col"></div>
        <div class="col-3">
            <h6 class="text-left" id="h6-3">Dut Aut Reiciendis Maiores</h6>
            <p class="text-left">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
            <h6 class="text-right" id="h6-4">Maiores Alias Consequatur</h6>
            <p class="text-right">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
        <div class="col">
        </div>
        <div class="col my-auto picture"><img src="{% static 'img/services_poll_grey.png' %}" class="img-fluid" id="img-4" alt="Адаптивные изображения"></div>
        <div class="col my-auto picture"><img src="{% static 'img/services_settings_grey.png' %}" class="img-fluid" id="img-5" alt="Адаптивные изображения"></div>
        <div class="col"></div>
        <div class="col-3">
            <h6 class="text-left" id="h6-5">Doloribus Volupta Maiores</h6>
            <p class="text-left">Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </div>
        <div class="col"></div>
    </div>
</div>
