<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'css/solid.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/brands.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">


    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>
</head>
<body>

{% block menu %}
{% include 'adminapp/includes/inc_admin_menu.html' %}
{% endblock %}


            {% block content %}

            {% endblock %}



</body>
</html>