{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}


<div class="container mb-5">
<div class="row">
    <div class="col text-center">
            <a href="{% url 'admin:game_type_create' %}" class="btn btn-info" role="button">
            create game type
            </a>
        </div>
</div>
</div>

    <div class="container mb-5 border border-dark">
    <div class="row">
        <div class="col-4 text-center">
            <h4>
                Game Type
            </h4>
        </div>
        <div class="col-4 text-center">
            <h4>
                Description
            </h4>
        </div>
        <div class="col-2 text-center">
            <h4>
                Games
            </h4>
        </div>
        <div class="col-2 text-center">

        </div>
    </div>
    </div>


{% for type in object_list %}
    <div class="container mb-2 border border-primary"
    {% if type.is_active == False %}
                style="opacity: 50%"
                {% endif %}>
            <div class="row mb-5">
            <div class="col-4 text-center">
                <h6 class="text-center">
                    {{ type.name }}
                </h6>
            </div>
            <div class="col-4 text-center">
                <h6 class="text-center">
                    {{type.description}}
                </h6>
            </div>
                <div class="col-2 text-center">
        </div>
        <div class="col-2 text-center">

        </div>
            </div>


    <div class="row">
        <div class="col text-center">
            <p class="text-center">
                <a href="{% url 'admin:game_type_update' type.pk %}" class="btn btn-secondary" role="button">edit game type</a>
            </p>
        </div>

    <div class="col text-center">
           <p class="text-center">
               {% if type.is_active == True %}
                <a href="{% url 'admin:game_type_delete' type.pk %}" class="btn btn-danger" role="button">delete game type</a>
               {% else %}
               <a href="{% url 'admin:game_type_delete' type.pk %}" class="btn btn-danger" role="button">restore game type</a>
               {% endif %}
            </p>
        </div>
    <div class="col">
           <p class="text-center">
                <a href="{% url 'admin:games' type.pk %}" class="btn btn-info" role="button">games</a>
            </p>
        </div>
    </div>
    </div>
{% endfor %}





{% endblock %}