{% extends 'ordersapp/base.html' %}
{% load static %}
{% load cache %}
{% block content %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/order_script.js' %}"></script>
 {% include 'ordersapp/includes/inc_order_summary.html' %}
    <div class="container mt-5">
    <div class="row">
        <div class="col order_form">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <table class="table table-dark">
                    {{ orderitems.management_form }}
                    {% for form in orderitems.forms %}
                    {% if forloop.first %}
                    <thead>
                    <tr>
                    {% for field in form.visible_fields %}
                        <th scope="col" class="{% cycle 'td1' 'td2' 'td3' 'td4' %} order formset_td">
                            {{ field.label|capfirst }}
                        </th>
                    {% endfor %}
                    </tr>
                    </thead>
                {% endif %}

                <tr class="formset_row">
                    {% for field in form.visible_fields %}
                    <td class="{% cycle 'td1' 'td2' 'td3' 'td4' %} order formset_td">
                        {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {% if field.name != 'price' %}
                        {% if field.name == 'game' %}
{#                            {% cache 3600 orderitemform_game field.value %}#}
                            {{ field }}
{#                            {% endcache %}#}
                            {% else %}
                            {{ field }}
                            {% endif %}
                    {% else %}
                    {% if field.value %}
                    <span class="orderitems-{{ forloop.parentloop.counter0 }}-price">
                        {{ field.value }}
                    </span> $
                    {% endif %}
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}
                </table>
            <input class="form-control btn btn-outline-success" type="submit" value="save">

           {% include 'ordersapp/includes/inc_order_actions.html' %}
            </form>
        </div>
    </div>
    </div>

{% endblock %}